{% extends 'base.html' %}

{% load static %}


{% block content %}

   <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur debitis dolorum quidem aperiam similique veritatis? Tempore blanditiis nam qui temporibus dolor pariatur necessitatibus corrupti dicta adipisci, 
    hic et, sint vel beatae ipsa voluptas excepturi tempora! Sit corrupti voluptas nostrum eveniet repellat quod labore, placeat dolore veritatis reiciendis. Quam magni esse dolore quia tempore sit qui dicta nihil id quaerat 
    sapiente, perspiciatis tenetur vitae? Beatae dolor sit placeat? Reprehenderit voluptas, fuga odit quis magnam repellat dignissimos dolores quae officiis perferendis, error at porro quaerat. Natus harum tempore similique 
    laboriosam aut molestias laudantium culpa unde ipsam quae ut quis ad amet illum fuga delectus, eaque, exercitationem voluptatem pariatur repudiandae iste incidunt! Corporis natus error porro iure repudiandae aperiam similique
    sapiente deserunt dolores saepe itaque placeat labore ut reiciendis corrupti quos non cumque molestiae tempora eos numquam, nisi id blanditiis. Molestias quia sed doloremque dignissimos tempore suscipit. Cum inventore volupt
    te ducimus ipsa error distinctio eum ipsam facere assumenda quo quibusdam at cupiditate, facilis eveniet doloribus, sequi nulla suscipit adipisci accusamus provident placeat est tempora quos aliquid. 
    Ad vel incidunt veritatis delectus reiciendis cumque laborum tempora at aliquid asperiores, possimus dolores perferendis vitae fugit commodi quisquam voluptatem natus saepe et beatae quia. Reprehenderit.</P>

{% endblock %}